.App {
  text-align: center;
}



@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #563d7c;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.cardContainer {
  display: flex;
  padding: 2px 16px;

}

.cardItem {
  /* Add shadows to create the "card" effect */
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  transition: 0.3s;
  background-color: #563d7c;
  color: white;
  font-size: 18px;
  font-family: 'Courier New', Courier, monospace;
  width: 100px;
  height: 100px;
  margin: 1ch;
  text-align: center;
  vertical-align: middle;
  line-height: 100px;
  padding: auto;
  /* The same as your div height */
}

a {
  color: aliceblue;
  text-decoration: none;
}

.mainDiv {
  margin-left: 1ch;
  margin-top: 1ch;
  width: 90%;
  padding: 1ch;
}

.homeBttn {
  right: 0;
  left: 46%;
  position: relative;
  bottom: 13px;
}

.listC {
  display: flex;
  justify-content: space-evenly;
}

.active {
  text-decoration: line-through;
}